.layout{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    &-content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #E8E8E9;
        padding: 15px;
    }
}

.banner {
    &-card{
       margin: 0 !important;
       margin-right: 24px !important;
       margin: 24px;
       background-color: #F4F4F4 !important;
       border: none !important;
       box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.048);
    }

    &-preview {
        display: flex;
        height: 100%;
        width: 100%;

        &__desktop{
            align-items: center;
            justify-content: center;

            & > img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}


.preview-options{
    display: flex;
    width: 65px;
    height: 704;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .preview-option{
       margin: 0 !important;
       margin-right: 24px !important;
       margin: 24px;
       margin-bottom: 15px !important;
       background-color: #F4F4F4 !important;
       border: none !important;
       box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.048); 

       .card-body{
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 0 !important;
       }

       &:hover {
           background-color: red !important;
       }

       &.selected {
           background-color: aquamarine !important;
       }
    }
}